<!DOCTYPE html>
<html>

<head>

  <!-- ALL THE SINGLE METAS -->
  <title>API Docs | Why Linux</title>

  <%- include reusable/meta %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>

    <link rel="stylesheet" href="/css/agate.css">
</head>

<body>

  <div class="fullpage">

    <%- include reusable/nav %>

      <%- include reusable/header %>

          <section class="hero content">
            <div class="hero-body">
              <div class="container is-white" id="req">

                <h2 class="subtitle is-white" id="message">
                  Authentication
                </h2>
                <p>
                  At this point authentication headers aren't required as I have no use for them. <br />
                  (And I don't expect anyone to use this API)
                </p>

                <h2 class="subtitle is-white" id="message">
                  Successful requests
                </h2>
                <p>
                  Every successful request (200 OK) will get the following information:
                  <ul>
                    <li>Website url</li>
                    <li>API endpoint (perma)</li>
                    <li>Completed message</li>
                    <li>Status code</li>
                    <li>Used parts for making the message (strings + ids)</li>
                  </ul>
                </p>

                <h2 class="subtitle is-white" id="message">
                  Non-successful requests
                </h2>

                <p>
                  If something is wrong (invalid id, missing argument etc.), you'll get a non-200 status code.
                </p>
                <h4 class="endpoint">/get/-1/0/298439</h4>

                <pre><code><%= JSON.stringify(generateJson( "-1", "0", "298439"), null, 4) %></code></pre>

                <h4 class="endpoint">/get/3/6</h4>

                <pre><code><%= JSON.stringify(generateJson("3", "6", null), null, 4) %></code></pre>


                <h2 class="subtitle is-white" id="message">
                  Random request
                </h2>
                <p>
                  You can get a random reason to use Linux with <span class="endpoint">/get/random.</span> <br />
                </p>
                <h4 class="endpoint">/get/random</h4>

                <pre><code><%= JSON.stringify(generateJson("random", "random", "random"), null, 4) %></code></pre>

                <h2 class="subtitle is-white" id="message">
                  Set request
                </h2>
                <p>
                  Want to fetch one of the set values? Just use <span class="endpoint">/get/distro.id/adj.id/reason.id</span> <br />
                  You can easily get the endpoint from any request you send ("url").
                </p>
                <h4 class="endpoint">/get/1/2/3</h4>

                <pre><code><%= JSON.stringify(generateJson(1, 2, 3), null, 4) %></code></pre>

                <h2 class="subtitle is-white" id="message">
                  Combined request
                </h2>
                <p>
                  You can also use <span class="endpoint">random</span> instead of an ID. <br />
                  Ex. <span class="endpoint">/get/7/random/random</span> for reasons to use Ubuntu.<br />
                  Any of the values can be <span class="endpoint">random</span>.
                </p>
                <h4 class="endpoint">/get/7/random/random</h4>

                <pre><code><%= JSON.stringify(generateJson(7, "random", "random"), null, 4) %></code></pre>

              </div>
            </div>
          </section>
  </div>
  <%- include reusable/footer %>

</body>

</html>