<!DOCTYPE html>
<html>

<head>

  <!-- ALL THE SINGLE METAS -->
  <title>Java App | Why Linux</title>

  <%- include reusable/meta %>
</head>

<body>

  <div class="fullpage">

    <%- include reusable/nav %>

      <%- include reusable/header %>

          <section class="hero content">
            <div class="hero-body">
              <div class="container is-white" id="req">

                <h2 class="subtitle is-white" id="message">
                  Java App
                </h2>
                <p>
                  I've built a Java app for this project. <br />
                  It can only output a random reason, you can't choose which one. <br />
                  However, you can choose to get more reasons for the same distribution.<br />
                  Requires Java 1.8.
                </p>

              <a class="button is-large is-linux" href="/WhyLinux.jar">Download</a>

              

              <figure class="image">
                <img src="/images/java1.png" class="java-img"/>
              </figure>

              </div>
            </div>
          </section>
  </div>
  <%- include reusable/footer %>

</body>

</html>