<!DOCTYPE html>
<html>
<head>

  <!-- ALL THE SINGLE METAS -->
  <title>Home | Why Linux</title>

  <%- include reusable/meta %>

</head>

<body>

  <div class="fullpage">

  <%- include reusable/nav %>

    <%- include reusable/header %>

    <% let jsonResult;
    if (random) {
      jsonResult = generateJson("random", "random", "random");
    } else {
      jsonResult = generateJson(distro, adj, reason);
    } %>

      <section class="hero content">
        <div class="hero-body">
          <div class="container is-white" id="req">

            <h2 class="subtitle is-white" id="message">
              <%= jsonResult.message %>
            </h2>

            <br /> <br />
              <a class="button is-large is-linux" href="/">Random</a>
              <a class="button is-large is-linux" href="/<%= jsonResult.parts.distro.id %>/random/random">
                More <%= jsonResult.parts.distro.string %>
              </a>
              <a class="button is-large is-linux" href="<%=jsonResult.url%>">API Link</a>
              <a class="button is-large is-linux" href="<%=jsonResult.permaLink %>">Permalink</a>

          </div>
        </div>
      </section>
  </div>
      <%- include reusable/footer %>

</body>

</html>