<!DOCTYPE html>
<html>

<head>

  <!-- ALL THE SINGLE METAS -->
  <title>API Playground | Why Linux</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>

    <link rel="stylesheet" href="/css/agate.css">

    <%- include reusable/meta %>
</head>

<body>

  <div class="fullpage">

    <%- include reusable/nav %>

      <%- include reusable/header %>

        <section class="hero content">
          <div class="hero-body">
            <div class="container is-white" id="req">

              <h2 class="subtitle is-white" id="message">
                Playground
              </h2>
              <p>
                Make any request to the API. Please refer to the <a href="/api">API docs</a>. <br />
                Instead of random use random/random/random.
              </p>

              <form class="endpoint" method="post" action="/playground">
                /get/
                <input class="text-input" type="text" value="<%= distro %>" placeholder="Distribution" name="params[distro]"> /
                <input class="text-input" type="text" value="<%= adj %>" placeholder="Adjective" name="params[adj]"> /
                <input class="text-input" type="text" value="<%= reason %>" placeholder="Reason" name="params[reason]">
                <input class="text-input" type="submit" value="Submit">
              </form>

              <br />

              <pre><code><%= JSON.stringify(generateJson(distro, adj, reason), null, 4) %></code></pre>

            </div>
          </div>
        </section>
  </div>
  <%- include reusable/footer %>

</body>

</html>