.navbar {
  background-color: #212121;
}

.navbar-item,
.navbar-menu,
.navbar-burger {
  color: white !important;
  background-color: #212121;
  transition-duration: 0.2s;
}

.text-input {
  border-radius: 5px;
  border-color: white;
  background-color: black;
  color: white;
  padding: 5px;
  margin: 5px 0px;
  font-size: 1rem;
}

form {
  margin: 5px;
}

.navbar-item:hover {
  background-color: initial !important;
  transition-duration: 0.2s;
}

html {
  background-color: #212121;
}

.endpoint {
  background-color: rgb(20, 20, 20);
  border-radius: 8px;
  padding: 5px;
  color: white !important;
}

@media only screen and (max-device-width: 1024px) {
  .java-img {
    height: auto !important;
    width: 100% !important;
  }
}

@media only screen and (min-device-width: 1024px) {
  #homeLink {
    display: none;
  }
  .java-img {
    height: auto !important;
    width: 40vw !important;
  }
}

.footer {
  background-color: inherit;
}

.is-white {
  color: white !important;
}

.is-linux {
  background-color: #edc423;
  border-width: 0px;
}

.fullpage {
  min-height: 100vh;
}

.button {
  margin: 5px;
}

pre {
  border-radius: 8px;
  background-color: rgb(20, 20, 20);
  margin: 5px;
}