<section class="section footer">
	<div class="container">

		<h2 class="is-white subtitle">
			<!-- Footer updates automatically, dont change it.
ex. 2018 -> 2018-2019 etc. keeps first year -->
			<% const startYear = 2018; 
			let yearStr;
			if (new Date().getFullYear() > startYear) {
				yearStr = startYear + " - " + new Date().getFullYear();
			} else {
				yearStr = startYear
			}%>
			&copy; <%= yearStr %> Jaakko Repo
			<br /> Published under a 
			<a onClick="showLicense()">MIT license</a>.
		</h2>

	</div>
</section>

<script>
	const showLicense = () => {
		alert(
			`Copyright <%= yearStr %> Jaakko Repo

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.`
		)
	}

</script>