    <section class="hero is-linux">
      <div class="hero-body">
        <a class="title" href="/">
          Why Linux API
        </a> <br/>
        <p class="subtitle">
          When you need reasons to use Linux and can't decide the distro to use
        </p>
      </div>
    </section>