		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="When you need reasons to use Linux">
		<meta name="author" content="Jaakko Repo">
		<meta name="keywords" content="Linux, API, Java">

		<!-- Stylesheets -->
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
		<link href="/css/styles.css" rel="stylesheet" type="text/css">

		<link rel="shortcut icon" href="/images/fav.ico" />
		<meta name="theme-color" content="#edc423">

