<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Why Linux
        </a>


        <div class="navbar-burger burger" id="navBurger" onClick="toggleView()" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item " href="/" id="homeLink">
                Home
            </a>
            <a class="navbar-item " href="/api">
                API Docs
            </a>
            <a class="navbar-item " href="/playground">
                API Playground
            </a>
            <a class="navbar-item " href="/app">
                Java App
            </a>
        </div>
    </div>
</nav>

<script>
    function toggleView() {
        var menu = document.getElementById('navMenu');
        var burger = document.getElementById("navBurger");
        menu.classList.toggle('is-active');
        burger.classList.toggle('is-active');
    }
</script>